<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORDER APP</title>
</head>
<body>
    <h3>결제 선택 화면</h3>
    <form action="/order" method="GET" >
        <input type="submit" value="이전"   />
    </form>
    <form action="/membership" method="GET" >
        <input type="submit" value="할인"   />
    </form>
    <form action="/phone" method="GET" >
        <input type="submit" value="적립"   />
    </form>
</body>
</html>