<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ORDER APP</title>
  </head>
  <body>
    <h3>메뉴선택 화면</h3>
    <form action="/step1" method="GET">
      <input type="submit" value="이전" />
    </form>
    {% for item in list %}
    <form action="/step2_select" method="GET">
      <input type="hidden" name="middleData" value="{{item["name"]}}" />
      <button>{{item["name"]}}</button>
    </form>
    {% endfor %}
    <form action="/step3" method="GET">
      <input type="submit" value="다음" />
    </form>
  </body>
</html>
